@model List<LookinForBooks.Models.Book>


@{
    ViewBag.Title = "Dashboard";
}


<h2>Dashboard</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Publisher)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberofPages)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Isbn)
        </th>
        <th></th>
    </tr>

    @foreach (var book in Model.MyBooks)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Publisher)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.NumberofPages)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Isbn)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = book.BookId })
                @Html.ActionLink("Title", "Details", new { id = book.BookId })
                @Html.ActionLink("Delete", "Delete", new { id = book.BookId })
                @Html.ActionLink("Available Books", "DashBoard", new { id = book.BookId })
                @Html.ActionLink("IsChecheckedOut", "DashBoard", new { id = book.BookId })|
            </td>
        </tr>
    }

</table>



   








